README.md
.idea
.gitignore
.editorconfig
.gitattributes

# docker-files
.dockerignore
Dockerfile
docker-compose.local.yml
/docker/

/public/build

# webpack-encore-bundle
/node_modules/
npm-debug.log
yarn-error.log
